{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Log In</h2>
            <form method="post" novalidate>
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group mb-3">
                  {{ field.label_tag }}

                  {{ field }}

                  {% if field.errors %}
                    <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                  {% endif %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
              <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
